.cardLoader {
  animation: loading 1.5s ease infinite;

  :first-child {
    color: #C8C8C8;
  }
}

.loadingErrorEmployees{
  width: 250px;
  justify-content: center;
  align-items: center;
  background-color: #FF0000;
  color: #FFFFFF;
  flex-flow: column nowrap;
  text-align: center;

  :nth-child(1) {
    width: unset;
    margin: unset;
    font-size: 20px;
  }

  p {
    margin: 8px 0 0
  }
}

@keyframes loading {
  0% {background: linear-gradient(135deg, #FFFFFFE6 0%, #C8C8C8E6 0%)};
  13% {background: linear-gradient(135deg, #FFFFFFE6 0%, #C8C8C8E6 25%)};
  25% {background: linear-gradient(135deg, #FFFFFFE6 0%, #C8C8C8E6 50%)};
  38% {background: linear-gradient(135deg, #FFFFFFE6 0%, #C8C8C8E6 100%)};
  50% {background: linear-gradient(135deg, #FFFFFFE6 25%, #C8C8C8E6 125%)};
  63% {background: linear-gradient(135deg, #FFFFFFE6 50%, #C8C8C8E6 150%)};
  75% {background: linear-gradient(135deg, #FFFFFFE6 75%, #C8C8C8E6 175%)};
  100% {background: linear-gradient(135deg, #FFFFFFE6 100%, #C8C8C8E6 200%)};
}